body{
    background-color: rgba(159, 244, 255, 0.768);
}

.banner {
    background: url('https://i.ibb.co/HBgPCns/wallup-net.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    margin: auto;
    margin-top: 20px;
}

.banner h2 {
    font-size: 100px;
    background: rgba(162, 100, 112, 0.72);
    height: inherit;
    text-align: center;
    padding-top: 200px;
}